<!DOCTYPE html>
<html>

<head>
  <title>Realtime communication with Deep Connecting</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>

<body>
<h1>Realtime communication with  Deep Connecting</h1>

<div class="video" id="localVideo"></div>
<div class="video" id="remoteVideo"></div>

<div>
  <input id="roomName" placeholder="room name"/>
  <input id="identity" placeholder="identity"/>
  <select id="callType" name="callType">
  <option value="call">Video Call</option>
  <option value="streaming">Receiving streaming</option>
  </select>

  <select id="videoOnOff" name="videoOnOff">
  <option value="true">Video On</option>
  <option value="false">Video Off</option>
  </select>

  <button id="startButton">Start</button>
  <button id="callButton" disabled>Call</button>
  <button id="hangupButton" disabled>Hang Up</button>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/main.js"></script>
<script async src="https://sdk.d-connecting.io/DeepConnecting.js"></script>
 
<script>

</script>
</body>
</html>
